# git.yaml hash: {{ include ".chezmoidata/git.yaml" | sha256sum }}

require 'yaml'
require 'fileutils'

data = YAML.load_file(File.join(ENV['CHEZMOI_SOURCE_DIR'], '.chezmoidata/git.yaml'))
root = File.expand_path(data['git']['root'])
FileUtils.mkdir_p(root)

data['git']['repositories'].each do |category, repos|
  category_dir = File.join(root, category)
  FileUtils.mkdir_p(category_dir)
  repos.each do |repo|
    target = File.join(category_dir, repo['name'])
    if File.exist?(target)
      puts "Skipping #{category}/#{repo['name']}: already exists"
    else
      puts "Cloning #{category}/#{repo['name']}"
      system('git', 'clone', repo['url'], target)
    end
  end
end
