#!/usr/bin/env zsh
set -euo pipefail

# dock.yaml hash: {{ include ".chezmoidata/dock.yaml" | sha256sum }}

echo "Clearing existing Dock items..."
dockutil --remove all --no-restart

{{- range .dock.apps }}
dockutil --add {{ . | quote }} --no-restart
{{- end }}

dockutil --add "${HOME}/Downloads" --view fan --display folder --no-restart

killall Dock || true
