cask "font-hack-nerd-font"
cask "font-source-code-pro"

# brew "asciinema"
brew "bat"
brew "btop"
brew "chezmoi"
brew "colordiff"
brew "curl"
brew "diff-so-fancy"
brew "direnv"
brew "dockutil"
brew "eza"
brew "fastfetch"
brew "fd"
brew "fzf"
brew "git"
brew "git-lfs"
brew "jq"
brew "lazydocker"
brew "lazygit"
brew "mise"
brew "neovim"
brew "ripgrep"
# brew "testdisk"
brew "tlrc"
brew "tree"
brew "unzip"
brew "wget"
brew "yq"
brew "zellij"
brew "zoxide"
brew "zsh"

cask "1password"
cask "1password-cli"
cask "adobe-creative-cloud"
cask "firefox"
cask "google-chrome"
cask "macfuse"
cask "rectangle"

## Previously installed applications
# cask "balenaetcher"
# cask "inkscape"
# cask "raspberry-pi-imager"
# cask "typora"
# cask "vlc"

## Profile-specific tools and applications
{{ include (printf "profiles/%s/homebrew/Brewfile" .profile) }}
