{{- $gitName := "Prevole" -}}
[user]
  name = {{ $gitName }}
  email = 1104066+Prevole@users.noreply.github.com
  signingkey = {{ onepasswordRead (printf "op://%s/%s - %s - ED25519/public key" .chezmoi.hostname $gitName .chezmoi.hostname) }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[github]
  user = "Prevole"

[credential]
	helper =
	helper = osxkeychain
