{{- $op := onepasswordDetailsFields "3aoqom6nitkbg5qzs27oylie3i" -}}
[user]
  name = "{{- $op.username.value }}"
  email = "{{- $op.email.value }}"
  signingkey = {{ onepasswordRead (printf "op://%s/%s - %s - ED25519/public key" .chezmoi.hostname $op.username.value .chezmoi.hostname) }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[github]
  user = "{{- $op.username.value }}"

[credential]
	helper =
	helper = osxkeychain
