{{- $op := onepasswordDetailsFields "ahzxvdiv25gs2afzpmyquv2yqy" -}}
[user]
  name = "{{- $op.name.value }}"
  email = "{{- $op.email.value }}"
  signingkey = {{ onepasswordRead (printf "op://%s/%s - %s - ED25519/public key" .chezmoi.hostname $op.name.value .chezmoi.hostname) }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[github]
  user = "{{- $op.username.value }}"

[credential]
	helper =
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true
