cask "battle-net"
cask "dropbox"
cask "firefox@developer-edition"
cask "imazing"
cask "jetbrains-toolbox"
cask "kdrive"
cask "luniistore"
cask "microsoft-office"
cask "namechanger"
cask "obsidian"
cask "script-debugger"
cask "steam"
cask "tiptoi-manager"

{{ if not .is_vm }}
mas "ifolor Designer", id: 446366603
mas "JSON Helper", id: 453114608
mas "1Password for Safari", id: 1569813296
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
{{ end }}
